/* h1 { 
    color: orange;
    border: 1px solid black;
    display: inline;}*/
    /*  */
    div {
        /* border: 1px solid red; */
        /* display: inline-block; */
        color: white;
    }
    
    /* selection by class */
    .left-division {
        vertical-align: top;
        background: skyblue;
        width: 65%;
        height: 500px;
        display: inline-block;
    }
    
    .right-division {
        vertical-align: top;
        height: 250px;
        display: inline-block;
        width: 30%;
        background: tomato;
    }
    
    .parent-container{
        /* border: 5px solid black; */
        width: 70%;
        margin: 0 auto;
    }
    